
.button{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:40px;
    bottom: 52px;
    right: 16px;
}

.icon > svg{
    width: 33px;
    height: 33px;
}

.total{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:4px
}