.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 16px;
}

.icon{
    padding-right: 16px;
}

.icon > svg{
    width: 32px;
}

.zero{
    padding-right: 64px;
}
.box:hover{
    --background-element: #3e3e47;
}