.App {
background: #131316;
}
a{
  all: unset;
}

.App-link {
  color: #61dafb;
}


main{
  display: flex;
  min-width: 1240px;
  height: calc(100vh - 150px);
  justify-content: center;
  padding-top: 40px;
}

.section01{
  width: 600px;
  height: 100%;
}
.section02{
  width: 600px;
  height: calc(100vh - 148px);
}
