
.modal{

    position: relative;
    width: 720px;
    max-width: 100%;
    opacity: 100;
    background: #1C1C21;
    /* Заготовка для анимаций */
    transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
    transform: scale(1);

    border: 1px solid rgba(76, 76, 255, 0.2);

    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.closeCross{
    position: absolute;
    top: 60px;
    right: 40px;
    z-index: 1;
}
.closeCross>svg{
    width: 30px;
    height: 30px;
}

.closeCross>svg:hover{
    cursor: pointer ;
    width: 31px;
    height: 31px;
}