.App {
background: #131316;
}

.App-link {
  color: #61dafb;
}

main{
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

.section{
  width: 600px;
  height: 912px;
  background: #61dafb;
}
