* {
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    user-select: none;
}

*::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
}

*::-webkit-scrollbar-track {
    background:#2F2F37 ; /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
    background-color: #8585AD; /* цвет плашки */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
