.section{
    display: flex;
    position: relative;
    justify-content: right;
    background: #131316;
    height: calc(100% - 100px);
    padding-top: 100px;
    /*-moz-user-select: none;*/
    /*user-select: none;*/
}

.bun{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 8px;

}

.ingredients{
    display: flex;
    flex-direction: column;
    height: calc(100% - 156px);
    padding-left: 16px;
    gap: 10px;
}

.pieces{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x:hidden;
    padding-left: 16px;
    gap: 10px;
}

.icon > svg{
    width: 33px;
    height: 33px;
}

